.user-container {
  color: #17a2b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-container h4 {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 50px;
  border-bottom: 1px #17a2b8 solid;
  color: #17a2b8;
}

.user-sign-form .btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #17a2b8;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.user-sign-form .btn:focus {
  outline: 0;
}

.user-sign-form .btn:active {
  transform: scale(0.98);
}

.user-sign-form .text {
  margin-top: 30px;
}

.user-sign-form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.user-sign-form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #17a2b8 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #17a2b8;
}

.user-sign-form-control input:focus,
.user-sign-form-control input:valid {
  outline: 0;
  border-bottom-color: #17a2b8;
}

.user-sign-form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.user-sign-form-control label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-sign-form-control input:focus + label span,
.user-sign-form-control input:valid + label span {
  color: #17a2b8;
  transform: translateY(-30px);
}

/**
* Responsive Pricing Table => Subscribe
*
* Credit to https://bootsnipp.com/snippets/92erW 
* => https://jsfiddle.net/Grobbert/cj26zuwq/4/
*/

.pricingTable10 {
  text-align: center;
}
.pricingTable10 .pricingTable-header {
  padding: 30px 0;
  background: #4d4d4d;
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricingTable-header {
  background: #c60909;
}
.pricingTable10 .pricingTable-header:after,
.pricingTable10 .pricingTable-header:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d8;
  position: absolute;
  bottom: 12px;
}
.pricingTable10 .pricingTable-header:before {
  left: 40px;
}
.pricingTable10 .pricingTable-header:after {
  right: 40px;
}
.pricingTable10 .heading {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}
.pricingTable10 .price-value {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  color: #c50909;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .price-value {
  color: #fff;
}
.pricingTable10 .currency {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 6px;
  left: -19px;
}
.pricingTable10 .month {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  right: -45px;
  text-transform: uppercase;
}
.pricingTable10 .year {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  right: -30px;
  text-transform: uppercase;
}
.pricingTable10 .pricing-content {
  padding-top: 50px;
  background: #fff;
  position: relative;
}
.pricingTable10 .pricing-content:after,
.pricingTable10 .pricing-content:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: absolute;
  top: 12px;
}
.pricingTable10 .pricing-content:before {
  left: 40px;
}
.pricingTable10 .pricing-content:after {
  right: 40px;
}
.pricingTable10 .pricing-content ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}
.pricingTable10 .pricing-content ul:after,
.pricingTable10 .pricing-content ul:before {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #818282 50%, #727373 50%);
  position: absolute;
  top: -22px;
  z-index: 1;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricing-content ul:after,
.pricingTable10:hover .pricing-content ul:before {
  background: linear-gradient(to bottom, #db4040 50%, #cc3434 50%);
}
.pricingTable10 .pricing-content ul:before {
  left: 44px;
}
.pricingTable10 .pricing-content ul:after {
  right: 44px;
}
.pricingTable10 .pricing-content ul li {
  font-size: 15px;
  font-weight: 700;
  color: #777473;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d8;
}
.pricingTable10 .pricing-content ul li:last-child {
  border-bottom: none;
}
.pricingTable10 .read {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: #d9d9d8;
  padding: 8px 25px;
  margin: 30px 0;
  transition: all 0.3s ease 0s;
}
.pricingTable10 .read:hover {
  text-decoration: none;
}
.pricingTable10:hover .read {
  background: #c50909;
}
@media screen and (max-width: 990px) {
  .pricingTable10 {
    margin-bottom: 25px;
  }
}
