.user-container {
  color: #17a2b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* .user-sign {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
} */

.user-container h4 {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 50px;
  border-bottom: 1px #17a2b8 solid;
  color: #17a2b8;
}

.user-sign-form .btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #17a2b8;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.user-sign-form .btn:focus {
  outline: 0;
}

.user-sign-form .btn:active {
  transform: scale(0.98);
}

.user-sign-form .text {
  margin-top: 30px;
}

.user-sign-form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.user-sign-form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #17a2b8 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #17a2b8;
}

.user-sign-form-control input:focus,
.user-sign-form-control input:valid {
  outline: 0;
  border-bottom-color: #17a2b8;
}

.user-sign-form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.user-sign-form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-sign-form-control input:focus + label span,
.user-sign-form-control input:valid + label span {
  color: #17a2b8;
  transform: translateY(-30px);
}
