* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/****************
**
** GENERIC LAYOUT -> Layout.js
**
*****************/

.jumbotron-post {
  position: relative;
  background-color: #fff;
  color: #000;
  width: 39%;
  height: 25vh;
  left: 2%;
  padding: 33px;
  box-shadow: 1px 1px 20px -2px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 1px 20px -2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 1px 20px -2px rgba(0, 0, 0, 0.36);
}

.jumbotron {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: right 10% top 5%;
}

/****************
**
** LOADER -> Loader.js
**
*****************/

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 100vh;
  font-size: 5rem;
}

/****************
**
** MAIN MENU -> Menu.js
**
*****************/

#main-menu {
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgb(210, 210, 210);
  -webkit-box-shadow: 0px 1px 1px 0px rgb(210, 210, 210);
  -moz-box-shadow: 0px 1px 1px 0px rgb(210, 210, 210);
}

/****************
**
** MAIN FOOTER -> Footer.js
**
*****************/

#main-footer {
  box-shadow: 0px -1px 1px 0px rgba(210, 210, 210, 0.75);
  -webkit-box-shadow: 0px -1px 1px 0px rgba(210, 210, 210, 0.75);
  -moz-box-shadow: 0px -1px 1px 0px rgba(210, 210, 210, 0.75);
}

/****************
**
** COURSE DETAILS -> courseDetails.js
**
*****************/

.course-details-fragment .jumbotron,
.course-details-fragment h1 {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.course-description {
  padding-left: 30px;
  width: 70%;
}
.course-details {
  display: flex;
  align-items: flex-start;
}

.course-content {
  padding: 30px;
  width: 70%;
}

.course-side {
  position: sticky;
  margin-top: -270px;
  width: 30%;
  top: 10px;
}
